#!/bin/bash
set -eux

# ── 1) 공통 환경 변수 설정 ──────────────────────
export AWS_REGION=ap-northeast-2
export AWS_DEFAULT_REGION=ap-northeast-2

# ── 2) ECR 레지스트리 및 버전 정보 가져오기 ─────
ECR_REGISTRY=$(aws ssm get-parameter --name /meow/prod/ECR_REGISTRY/backend \
  --query Parameter.Value --output text)

VERSION=$(aws ssm get-parameter --name /meow/prod/BACKEND_IMAGE_TAG \
  --query Parameter.Value --output text)

# ㅡ 3) SSM parameter 불러오기
DB_USER_NAME=$(aws ssm get-parameter --name /meow/prod/DB_USER_NAME --with-description --query Parameter.Value --output text)
DB_ROOT_PASSWORD=$(aws ssm get-parameter --name /meow/prod/DB_ROOT_PASSWORD --with-decryption --query Parameter.Value --output text)
WEBHOOK_URL=$(aws ssm get-parameter --name /meow/prod/WEBHOOK_URL --with-decryption --query Parameter.Value --output text)

# ── 4) AWS 자격 증명은 Secrets Manager에서 가져오기 ─────
SECRET=$(aws secretsmanager get-secret-value \
  --secret-id /meow/prod/aws_credentials \
  --query SecretString \
  --output text)

AWS_ACCESS_KEY_ID=$(echo $SECRET | jq -r .AWS_ACCESS_KEY_ID)
AWS_SECRET_ACCESS_KEY=$(echo $SECRET | jq -r .AWS_SECRET_ACCESS_KEY)

# 5) 이미지 pull
docker pull $ECR_REGISTRY/prod/9_meow_be:$VERSION

# 6) 기존 컨테이너 중지·삭제
docker stop backend-container || true
docker rm   backend-container || true


docker run -d \
  --name backend-container \
  -p 8080:8080 \
  -e SPRING_DATASOURCE_URL='jdbc:mysql://10.0.4.155:3306/meow1?serverTimezone=Asia/Seoul' \
  -e SPRING_DATASOURCE_USERNAME=$DB_USER_NAME \
  -e SPRING_DATASOURCE_PASSWORD=$DB_ROOT_PASSWORD \
  -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
  -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
  -e WEBHOOK_URL=$WEBHOOK_URL \
  $ECR_REGISTRY/prod/9_meow_be:$VERSION